<div class="center jumbotron">
  <h1>Welcome to The Hacking Gossip 2.0 !</h1>
  <h3>
    If you're looking for some juicy news about your crewmates 🎓 just register <%= link_to "  Here  ", '/registration/new', class: "btn btn-lg btn-dark" %>
  </h3>

</div>
