<div class="center jumbotron">
<h1>Gossips Wall </h1><br>

<div class="table btn btn-dark" >
<table width="10%">
  <thead>
    <tr>
      <td>Gossiper</td>
      <td>Gossip</td>
    </tr>
  </thead>
  <tbody>
    <% @gossips.each do |gossip|  %>
    <tr>
    <td><%= gossip.author %></td>
      <td><%= gossip.content %></td>
      <td><%= link_to "See Gossip", gossip_path(gossip.id), class: "btn btn-dark"%></td>
    </tr>
  <% end %>
  </tbody>
</table>
</div>
